@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-mono), 'Courier New', Courier, monospace;
  background: white;
  color: black;
}

* {
  border-color: black;
}

/* Hide native number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
