@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-ibm-plex-mono), 'Courier New', Courier, monospace;
  background: white;
  color: black;
}

* {
  border-color: black;
}
